[req]
req_extensions = v3_req
distinguished_name = req_distinguished_name
[req_distinguished_name]
[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names
[alt_names]
DNS.1 = api
DNS.2 = api.contacts
DNS.3 = api.contacts.svc.cluster.local
DNS.4 = localhost
DNS.5 = minikube
DNS.6 = minikube.local
