[req]
req_extensions = v3_req
distinguished_name = req_distinguished_name
[req_distinguished_name]
[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names
[alt_names]
DNS.1 = oauth2-proxy
DNS.2 = oauth2-proxy.authc
DNS.3 = oauth2-proxy.authc.svc
DNS.2 = oauth2-proxy.authc.svc.cluster.local
